
.dashboard-app {
  text-align: center;
}



.title {
  font-family: 'HelveticaNeue';
  font-weight: bold;
}

.App-logo {
  height: 77vmin;
  pointer-events: none;
}

.dashboard-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding-bottom: 20px; */
}

.dashboard-background {
  background: white;
  width: 100%;
  height: 400px;
}

.snowman-image {
  height: 40vmin;
}

.text {
  color: black;
  font-size: 22px;
}

.btn-container {
  width: 100%;
  bottom: 0;
  position: fixed;
  padding-bottom: 20px;
}

.btn-next {
  width: 360px;
  height: 48px;
  background-color: #F82D2D;
  color: #FFFFFF;
  border-radius: 4px;
  outline: none;
  border: none;
}

.App-link {
  color: #61dafb;
}

